* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

html > div[style] {
  display: none !important;
}

/*
=========================================
GALLERY NAV
=========================================
*/

.gallery-nav {
  background: #0d0d0d;
  height: 4rem;
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.5s ease-in-out;
  color: white;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  z-index: 1;
  width: 100%;
  padding: 0 2rem 0 1.25rem;
  max-width: 1100px;
}

.nav-logo {
  display: flex;
  color: white;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.25rem;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  word-break: keep-all;
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: flex-start;
  list-style: none;
  text-align: left;
  margin-left: 0.6125rem;
}

@media (max-width: 320px) {
  .nav-menu {
    flex-direction: column;
  }
}

.nav-item {
  height: 72px;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1.425rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d0d0d;
}

/*
=========================================
FOOTER
=========================================
*/

.footer-container {
  height: 5.125rem;
  background-color: #0d0d0d;
  position: relative;
  z-index: 500;
}

.footer-wrap {
  padding: 0.875rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-logo {
  width: 171px;
  display: block;
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.575rem;
  padding-bottom: 0.1875em;
  font-weight: 700;
}

.website-rights {
  color: white;
}
